<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <hr>
    <p>จัดทำโดย นายภาคีนัย  คำแหลง</p>
      
  </body>
  </html>